*,
*::after,
*::before {
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
}

a {
  text-decoration: none;
  display: inline-block;
  font-size: 22px;
  @media screen and (max-width: $bp-tablet) {
    font-size: 16px;
  }
  @media screen and (max-width: $bp-tablet) {
    font-size: 12px;
  }
}

.section {
  margin-bottom: 96px;
}

.container {
  width: 100%;
  max-width: 1240px;
  margin: 0 auto;
  padding: 0 24px;
}

body {
  margin: 0;
  padding: 0;
  font-size: 22px;
  @media screen and (max-width: $bp-tablet) {
    font-size: 16px;
  }
  @media screen and (max-width: $bp-tablet) {
    font-size: 12px;
  }
}
