@import './utils/variables';

@import './base';

@import './components/link';

@import './components/title';

// name section
@import './layouts/name-section';

// info section
@import './layouts/info-section';

// skills section
@import './layouts/skills-section';

// education section
@import './layouts/education-section';

