:root {
  --color-primary-dark: #011C44;
  --color-primary-green: #3C8A67;
  --color-primary-white: #FFFFFF;
  --color-footer-green-light: #92D1AE;
}

$bp-mobile: 600px;
$bp-tablet: 900px;
$bp-desktop: 1280px;
