.name-section {
  &__container {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 50px;
    padding: 32px 0;
  }
  &__container img {
    width: 300px;
    height: 300px;
    border-radius: 50%;
    object-fit: cover;
    @media screen and (max-width: $bp-tablet) {
      width: 200px;
      height: 200px;
    }
    @media screen and (max-width: $bp-mobile) {
      width: 150px;
      height: 150px;
    }
  }
  &__info {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 8px;
  }
  &__info h1 {
    font-size: 48px;
    color: var(--color-primary-dark);
    @media screen and (max-width: $bp-tablet) {
      font-size: 32px;
    }
    @media screen and (max-width: $bp-mobile) {
      width: 150px;
    }
  }
  &__info p {
    font-size: 24px;
    color: var(--color-primary-green);
    @media screen and (max-width: $bp-tablet) {
        font-size: 14px;
    }
    @media screen and (max-width: $bp-mobile) {
      font-size: 12px;
    }
  }
}
