.skills-section {
  &__container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 8px;
    padding: 24px 8px;
  }
  &__list {
    list-style: none;
    padding: 32px 0;
    margin: 0;
    display: flex;
    flex-wrap: wrap;
    gap: 16px;
    justify-content: center;
  }
  &__list-item {
    background-color: var(--color-primary-dark);
    color: var(--color-primary-white);
    padding: 8px 16px;
    border-radius: 4px;
    font-size: 18px;
  }
}
